
.main-chat {
	width: 100% !important;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	grid-column: 12;
	gap: 4rem;
	padding: 10px;

}
.main-chat > div {
	column-span: 12;
	background: rgba(214, 226, 241, 0.6);
	border-radius: 20px;
	padding: 30px;
	height: 100%;
}
.main-chat > div > div:nth-child(1) {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
}
.main-chat > div > div:nth-child(1) > h2 {
	text-align: center;
	color: aliceblue;
}
.query-input {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #181818;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
}

.query-input > input {
	background: #0000;
	color: #dfd7df;
	width: 75%;
	height: 50px;
	padding: 5px;
	font-size: 30px;
}
.query-input > .icon {
	color: #dfd7df;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.query-input >  input:focus {
	outline: 0;
}
.res {
	height: 430px; 
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	gap: 10px;
	padding: 15px;
}
.msgUser {
	color: #ebe8e8;
	border-radius: 10px;
	background: #04305a;
	width: fit-content;
	max-width: 600px;
	padding: 15px;
	align-self: flex-end;
	;

}
.msgAss {
	color: #ebe8e8;
	border-radius: 10px;
	background: #032d54;
	width: fit-content;
	max-width: 600px;
	padding: 15px;
}
